<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="hero">
        <div class="container">
          <div class="hero__content">
            <div class="hero-logo">
              <img src="../images//heroLogo.png" alt="" />
            </div>
            <nav class="hero-info">
              <li class="hero-info-li">SERVICES</li>
              <li class="hero-info-li">CASES</li>
              <li class="hero-info-li">ABOUT US</li>
              <li class="hero-info-li">CAREERS</li>
              <li class="hero-info-li">ANT-TECH ACADEMY</li>
              <li class="hero-info-li">CONTACT</li>
            </nav>
            <button class="hero__btn">HIRE DEVOPS ENGINEER</button>
            <div class="menu">
              <img src="../images/menuHero.png" alt="" />
            </div>
          </div>
        </div>
        <hr class="hrHero" />
      </div>
      <header>
        <img class="zIndex1" src="../images/zIndex1.png" alt="" />
        <img class="zIndex2" src="../images/zIndex2.png" alt="" />
        <div class="container">
          <div class="header__content">
            <div class="header__info">
              <h1>
                We don't just build anthills, We deliver results from code to
                Cloud.
              </h1>

              <img
                class="header__info-img"
                src="../images/headerInfoImg.png"
                alt=""
              />
              <p>Light, secure, reliable DevOps culture implementation</p>
              <p>Shaping your way to the Cloud World</p>
              <button class="header__btn">HIRE DEVOPS ENGINEER</button>
            </div>
            <div class="header__img">
              <img class="header-img" src="../images/headerImg.png" alt="" />
              <img src="../images/zIndex3.png" alt="" class="zIndex3" />
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="container">
          <div class="googleContent">
            <div class="googleInfo">
              <h3>Trusted by</h3>
            </div>
            <div class="googleImg">
              <div class="googleImg2">
                <img src="../images/disney.png" alt="" />
              </div>
              <div class="googleImg2">
                <img src="../images/netfix.png" alt="" />
              </div>

              <div class="googleImg2">
                <img src="../images/drop.png" alt="" />
              </div>

              <div class="googleImg2">
                <img src="../images/spoti.png" alt="" />
              </div>

              <div class="googleImg2">
                <img src="../images/slack.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
